.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../post/job.jpg);
    font-family: Arial, sans-serif;
    margin-top: 20px;
    
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../post/job.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}input[type="text"],
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.job-listings li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    
}

.job-applications li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

